
<form class="form-horizontal">
    <!-- <div class="form-group">
      <label class="control-label col-sm-2">Name of User :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="txtProductName" formControlName="username"
          placeholder= "Name of user">
      </div>
    </div> -->
   
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <!-- <button type=“submit” class=“btn btn-default” (click)=“PostProduct(productForm.value)”>Submit</button>
        <button type=“submit” class=“btn btn-default” (click)=“UpdateProduct(productForm.value)”>Update</button> -->
      </div>
    </div>
    <div>
      <div class="alert alert-info"><b>Users List</b></div>
      <div class="table-responsive">
        <table class="table">
   
          <tr>
            <th>User Name</th>
            <th>Action</th>
          </tr>
   
          <tr *ngFor="let usr of Users | async">
            <td>{{usr.name}}</td>
            <td>
              <button type="button" matTooltip="Click Edit Button" (click)="userdetails(usr.id)">Edit</button>
             
              <button type="button" matTooltip="Click Delete Button" (click)="deleteuser(usr.id)">Delete</button>
   
            </td>
          </tr>
   
        </table>
      </div>
    </div>
  </form>